encryption = "age"

[age]
    command = "rage"
    identities = ["~/.config/chezmoi/age-yubikey-identity.txt", "~/Library/Mobile Documents/com~apple~CloudDocs/Backup/chezmoi/backup-key.txt"]
    recipients = ["age1kleelkfhfkqc2mysqsu0x0e6atczl97xx7mrssvm726qnh8n6p0sdmrj3q", "age1yubikey1qwl7q7ja22f2ne0y7rw0c8k9q5ck56flths0ah972e70rcc7dds2xuntw93"]

[diff]
    pager = "delta"

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
    ]
