[includeIf "gitdir:{{ output "ghq" "root" | trim }}/github.com/k0ch4nx/"]
    path = ./config.d/personal

[includeIf "gitdir:{{ .chezmoi.sourceDir }}/"]
    path = ./config.d/personal

[includeIf "gitdir:{{ output "ghq" "root" | trim }}/github.com/sep-dev/"]
    path = ./config.d/work

[color]
    ui = auto
[commit]
    gpgsign = true
[core]
    autocrlf = false
    editor = nvim
    ignoreCase = false
    pager = delta
    quotepath = false
    safecrlf = true
[delta]
    navigate = true
[ghq]
{{- if eq .chezmoi.os "darwin" }}
    root = ~/Developer
{{- else if eq .chezmoi.os "linux" }}
    root = {{ if eq .chezmoi.os "darwin" }}~/Developer{{ else }}~/src{{ end }}
{{- end }}
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
[init]
    defaultBranch = main
[merge]
    conflictstyle = zdiff3
[rebase]
    autoStash = true
[tag]
    gpgSign = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
