[color]
    ui = auto
[commit]
    gpgsign = true
[core]
    autocrlf = false
    editor = nvim
    ignoreCase = false
    pager = delta
    quotepath = false
    safecrlf = true
[delta]
    navigate = true
[ghq]
    root = ~/.local/share/ghq
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
[init]
    defaultBranch = main
[merge]
    conflictstyle = zdiff3
[rebase]
    autoStash = true
[tag]
    gpgSign = true
[user]
    email = {{ joinPath .chezmoi.sourceDir "dot_config" "git" "email.age" | include | decrypt | trim }}
    name = k0ch4nx
    signingKey = ~/.ssh/id_rsa.pub
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
