[includeIf "gitdir:{{ if eq .chezmoi.os "darwin" }}~/Developer{{ else }}~/src{{ end }}/github.com/k0ch4nx/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:{{ if eq .chezmoi.os "darwin" }}~/Developer{{ else }}~/src{{ end }}/github.com/honma1283/"]
  path = ~/.gitconfig-work

[color]
    ui = auto
[commit]
    gpgsign = true
[core]
    autocrlf = false
    editor = nvim
    ignoreCase = false
    pager = delta
    quotepath = false
    safecrlf = true
[delta]
    navigate = true
[ghq]
{{ if eq .chezmoi.os "darwin" }}
    root = ~/Developer
{{ else if eq .chezmoi.os "linux" }}
    root = ~/src
{{ end }}
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
[init]
    defaultBranch = main
[merge]
    conflictstyle = zdiff3
[rebase]
    autoStash = true
[tag]
    gpgSign = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
