[misc]
no_retry = true
only = [
  "brew_cask",
  "brew_formula",
  # "chezmoi",
  "custom_commands",
  "github_cli_extensions",
  "mas",
  "mise",
  "rustup",
  "system",
  # "vscode",
]

[commands]
{{- if eq .chezmoi.os "darwin" }}
"HomeBrew - uninstall build dependencies" = '''
leaves=(`brew leaves --installed-as-dependency | xargs`)
for pkg in "${leaves[@]}"; do
    brew uninstall "$pkg"
done
'''

"Neovim - lazy.nvim" = '''
nvim --headless -c 'lua local ok, err = pcall(vim.cmd, "Lazy! sync"); if not ok then print(err); vim.cmd("cquit") else vim.cmd("qa") end'
'''
"Neovim - Treesitter" = '''
nvim --headless -c 'lua local ok = require("nvim-treesitter").install("all"):wait(); if not ok then print("nvim-treesitter install failed"); vim.cmd("cquit") else vim.cmd("qa") end'
nvim --headless -c 'lua local ok = require("nvim-treesitter").update():wait(); if not ok then print("nvim-treesitter update failed"); vim.cmd("cquit") else vim.cmd("qa") end'
'''
"Neovim - Mason" = '''
nvim --headless -c 'lua local ok, err = pcall(vim.cmd, "MasonInstallAll"); if not ok then print(err); vim.cmd("cquit") else vim.cmd("MasonLock"); vim.cmd("qa") end'
'''
"Neovim - codediff.nvim" = '''
nvim --headless -c 'lua local ok, err = pcall(require("codediff.core.installer").install); if not ok then print(err); vim.cmd("cquit") else vim.cmd("qa") end'
'''

"Ferium - upgrade" = "ferium upgrade"
{{- else if includeTemplate "is-wsl" . }}
{{- end }}

[brew]
greedy_cask = true
greedy_latest = true
greedy_auto_updates = true
autoremove = true
fetch_head = true
