. "$HOME/.cargo/env"

export EDITOR="nvim"
export VISUAL="${EDITOR}"

export CF_API_KEY="{{ joinPath .chezmoi.sourceDir "dot_config" "zsh" "CF_API_KEY.age" | include | decrypt | trim }}"
export CF_API_EMAIL="{{ joinPath .chezmoi.sourceDir "dot_config" "zsh" "CF_API_EMAIL.age" | include | decrypt | trim }}"

export FZF_DEFAULT_OPTS_FILE="${XDG_CONFIG_HOME}/fzf/fzfrc"

export GNUPGHOME="${XDG_DATA_HOME}/gnupg"
export GOPATH="${XDG_DATA_HOME}/go"
export LESSHISTFILE="${XDG_STATE_HOME}/less/lesshst"
export NPM_CONFIG_CACHE="${XDG_CACHE_HOME}/npm"
export NPM_CONFIG_PREFIX="${HOME}/.local"
export NPM_CONFIG_USERCONFIG="${XDG_CONFIG_HOME}/npm/npmrc"

export PYTHONPYCACHEPREFIX="${XDG_CACHE_HOME}/python/__pycache__"
export PYTHON_HISTORY="${XDG_DATA_HOME}/python/.python_history"

function eza() {
    local opts=(
        # https://github.com/eza-community/eza#display-options
        "--long"
        "--color=always"
        "--color-scale=age"
        "--color-scale-mode=gradient"
        "--icons=auto"
        "--hyperlink"

        # https://github.com/eza-community/eza#filtering-options
        "--all"
        "--group-directories-first"

        # https://github.com/eza-community/eza#long-view-options
        "--binary"
        "--header"
        "--links"
        "--modified"
        "--mounts"
        "--blocksize"
        "--accessed"
        "--created"
        "--changed"
        "--git"
        "--git-repos"
        "--time-style=long-iso"
        "--total-size"
        "--octal-permissions"
    )

    command eza "${opts[@]}" "$@"
}

function ghqf {
    local eza_opts=(
        "--long"
        "--color=always"
        "--color-scale=age"
        "--color-scale-mode=gradient"
        "--icons=auto"
        "--all"
        "--group-directories-first"
        "--git"
        "--no-permissions"
        "--no-filesize"
        "--no-user"
        "--no-time"
    )

    local preview_cmd="\$(brew --prefix)/bin/eza \$(ghq root)/{} ${eza_opts[@]}"

    cd "$(ghq root)/$(ghq list | fzf --preview "${preview_cmd}")"
}
