export EDITOR="nvim"
export VISUAL="${EDITOR}"

typeset -U path PATH
path=(
    "/opt/homebrew/opt/ffmpeg-full/bin"
    "${HOME}/.lmstudio/bin"
    "${HOME}/.local/bin"
    ${path}
)

export DO_NOT_TRACK=1
export DOTNET_CLI_TELEMETRY_OPTOUT=1
export HOMEBREW_NO_ANALYTICS=1
export OMO_SEND_ANONYMOUS_TELEMETRY=0

export HOMEBREW_NO_REQUIRE_TAP_TRUST=1

export FZF_DEFAULT_OPTS_FILE="${XDG_CONFIG_HOME}/fzf/fzfrc"

export GNUPGHOME="${XDG_DATA_HOME}/gnupg"
export GOPATH="${XDG_DATA_HOME}/go"
export LESSHISTFILE="${XDG_STATE_HOME}/less/lesshst"
export NPM_CONFIG_CACHE="${XDG_CACHE_HOME}/npm"
export NPM_CONFIG_PREFIX="${HOME}/.local"
export NPM_CONFIG_USERCONFIG="${XDG_CONFIG_HOME}/npm/npmrc"

export OPENCODE_DISABLE_CLAUDE_CODE=1

export GRADLE_USER_HOME="${XDG_DATA_HOME}/gradle"

export PYTHONPYCACHEPREFIX="${XDG_CACHE_HOME}/python/__pycache__"
export PYTHON_HISTORY="${XDG_DATA_HOME}/python/.python_history"

export TF_CLI_CONFIG_FILE="${XDG_CONFIG_HOME}/terraform/terraform.tfrc"
